.btn {
  float: left;
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #22dd9e;
  padding: 0.5em 1em;
  border: 1px solid #0ca773;
  border-bottom: 4px solid #0ca773;
  cursor: pointer;
  margin: 0.2em 0.2em;
}

.btn:link {}

.btn:hover {
  background-color: #17bf87;
}

.btn:active {
  position: relative;
  top: 3px;
  border-bottom-width: 1px;
}

.btn:visited {}

.btn-checkbox {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.btn-checkbox input {
  display: inline;
  position: absolute;
  top: -40px;
  left: 0px;
  margin: 0;
  padding: 0;
}

.btn-checkbox input:checked ~ .btn {
  background-color: #3785d3;
  border-color: #3785d3;
}

.btn.btn-delete {
  background-color: #c47145;
  border-color: #b2501d;
}

.btn.btn-delete:hover {
  background-color: #ac6946;
}

.btn.btn-clear {
  background-color: #ffffff;
  color: #6d6363;
  border-color: #535353;
}

.btn.btn-clear:hover {
  background-color: #6d6363;
  color: #fff;
}

.btn.btn-action {
  background-color: #e0d335;
  border-color: #b2a11d;
}

.btn.btn-action:hover {
  background-color: #acac46;
}

.btn.btn-large {
  font-size: 1.4em;
}
.btn.btn-medium {
  font-size: 1.2em;
}
.btn.btn-small {
  font-size: 0.8em;
}

.btn.btn-rounded {
  border-radius: 0.5em;
}

.btn.btn-css3 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /* x y blur color */
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.50);
  /* x y blur spread color */
  box-shadow: 1px 1px 1px 0 rgba(162, 46, 46, 0.76);
}

.btn.btn-css3:hover {

}

.btn.btn-icon {
  position: relative;
  padding-left: 2em;
}

.btn.btn-icon .btn-ico {
  position: absolute;
  top: 0em;
  left: 0;
  line-height: 2.2em;
  padding: 0 0.3em;
  border-right: 1px solid #0ca773;
}

.btn.btn-icon.btn-icon-right {
  padding-left: 0.8em;
  padding-right: 2em;
}

.btn.btn-icon.btn-icon-right .btn-ico {
  left: auto;
  right: 0;
  border-left: 1px solid #0ca773;
  border-right: 0px solid #0ca773;
}

.btn.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}




















