.explicacion {
  padding: 2em;
}

.explicacion:after {
  content: "";
  display: block;
  background-color: #2ecc71;
  padding: 1em;
  height: 20px;
  width:  20px;
  background-image: url();
}

.explicacion:before {
  content: "";
  display: block;
  background-color: #f1c40f;
  padding: 1em;
}

.explicacion h1 {
  background-color: #34495e;
  color: white;
  padding: 1em;
}

/*
#pedro
[id=pedro] {
  float: left;
}

[class=colum] {
  
}
*/
[class="column-1 column"] {
/*  background-color: red;*/
  /* div class="column-1 column" */
}


[class^="column"] {
/*  background-color: black*/
  /* div class="column otracosa" */
  /* div class="column-sufijo otracosa" */
}

[class~="column"] {
  /* div class="column otracosa" */
}

[class|="column"] {
  /* div class="column otracosa" x */
  /* div class="column column-sufijo" + */
}

[class$="column"] {
  /* div class="column otracosa" x */
  /* div class="prefijo-column" + */
}

[class*="column"] {
  /* div class="column otracosa" x */
  /* div class="prefijo-column" + */
  /* div class="column-sufijo" + */
  /* div class="columnasdasdad" + */
}

/*

[class*="colum"] {
  background-color: antiquewhite;
}
*/

.fondo-verde {
  background-color: #2ecc71;
  color: white;
}

.row {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.row:before,
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class^="column"] {
  float: left;
  box-sizing: border-box;
}

.column-1  { width: 8.3333%; } /* 100%/12 */
.column-2  { width: 16.666%; } 
.column-3  { width: 25%; }
.column-4  { width: 33.3333%; }
.column-5  { width: 41.6666%; }
.column-6  { width: 50%; }
.column-7  { width: 58.3333%; }
.column-8  { width: 66.6666%; }
.column-9  { width: 75%; }
.column-10 { width: 83.3333%; }
.column-11 { width: 91.6666%; }
.column-12 { width: 100%; }

/*
que va a pasar cuando la pantalla tengo ancho menor a X cantidad pixeles

480px -> telefono
720px -> tablet en vertical
980px -> escritorio estandar
1200px -> nuevo estandar
1440px -> pantallas grandes
*/

/* viewport < 720px */
@media(max-width:720px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 { width: 100%; }
}

/* viewport < 720px */
/*
@media(min-width:720px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 { width: 100%; }
}
*/
 
/* viewport > 720 y viewport < 980px */
@media(min-width:720px) and (max-width:980px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 { background-color: red }
}
/*
@media 
  min-width
  max-width
  orientation (landscape, portrait)
  screen
  print
*/














