body {
  padding-top: 80px;
  padding-bottom: 80px;
}

.navbar-brand img {
  max-height: 100%;
}

.padding-1 {
  padding: 1em;
}

.avatar-img {
  height: 40px;
}

.navbar-nav.navbar-icons a {
  padding: 5px;
}

.navbar-nav.navbar-icons .glyphicon {
  font-size: 1.8em;
  padding: 8px;
}

.navbar.navbar-inverse {
  background-color: #2882b5;
  border: 0 solid #2882b5;
  border-radius: 0;
}

.navbar.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.border-grey {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.profile {
  padding-bottom: 1em;
}

.profile .profile-picture {
  margin-top: -50px;
}

.profile .profile-content {
  padding: 1em;
  padding-bottom: 0em;
}

.profile .profile-title {
  margin-top: 0;
  font-size: 2em;
}

.profile footer {
  padding: 0 3em;
}

.profile .social-metrics {}

.profile .social-metrics .social-metric-title {
  font-size: 1.3em;
  display: block;
}

.profile .social-metrics .social-metric-value {
  font-weight: bold;
  display: block;
}

.section-with-padding {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.list-of-blah .glyphicon {
  padding-right: 1em;
}

.list-of-blah li {
  margin-bottom: 0.6em;
}

.statuses {
  overflow: hidden;
}

.post {
  padding: 2em 1em;
  border-top: 1px solid #c4c4c4;
}

.post .post-images {
  margin-left: -5px;
  margin-right: -5px;
}

.post .post-images img{
  max-width: 100%; 
}

.post .post-images .post-images-mascara {
  height: 150px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.post-comments {
  padding-top: 1em;
  padding-bottom: 1em;
}
.post-comments .comment {
  padding-top: 1em;
  padding-bottom: 1em;
}
.post-comments .comment .author {
  font-weight: bold;
}

.btn.btn-primary-border {
  border: 1px solid #2882b5;
}

.bg-grey {
  background-color: #f5f8fa;
  border-top: 1px solid #c4c4c4;
  margin-top: 1.5em;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: -14px;
  margin-right: -14px;
}

.likes {
  padding-bottom: 0;
}
























