.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.image-responsive {
  max-width: 100%;
}

.row {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.row:before,
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class^="column"] {
  float: left;
  box-sizing: border-box;
}

.column-1  { width: 8.3333%; } /* 100%/12 */
.column-2  { width: 16.666%; } 
.column-3  { width: 25%; }
.column-4  { width: 33.3333%; }
.column-5  { width: 41.6666%; }
.column-6  { width: 50%; }
.column-7  { width: 58.3333%; }
.column-8  { width: 66.6666%; }
.column-9  { width: 75%; }
.column-10 { width: 83.3333%; }
.column-11 { width: 91.6666%; }
.column-12 { width: 100%; }

.column-space-1  { margin-left: 8.3333%; } /* 100%/12 */
.column-space-2  { margin-left: 16.666%; } 
.column-space-3  { margin-left: 25%; }
.column-space-4  { margin-left: 33.3333%; }
.column-space-5  { margin-left: 41.6666%; }
.column-space-6  { margin-left: 50%; }
.column-space-7  { margin-left: 58.3333%; }
.column-space-8  { margin-left: 66.6666%; }
.column-space-9  { margin-left: 75%; }
.column-space-10 { margin-left: 83.3333%; }
.column-space-11 { margin-left: 91.6666%; }
.column-space-12 { margin-left: 100%; }

/*
que va a pasar cuando la pantalla tengo ancho menor a X cantidad pixeles

480px -> telefono
720px -> tablet en vertical
980px -> escritorio estandar
1200px -> nuevo estandar
1440px -> pantallas grandes
*/

/* viewport < 720px */
@media(max-width:480px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 { width: 100%; }
}

/* viewport < 720px */
/*
@media(min-width:720px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 { width: 100%; }
}
*/
 
/* viewport > 720 y viewport < 980px */
@media(min-width:720px) and (max-width:980px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    
  }
}
/*
@media 
  min-width
  max-width
  orientation (landscape, portrait)
  screen
  print
*/








