body {
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.margin-lateral {
  margin-left: 4em;
  margin-right: 4em;
}

.text-grey {
  color: #888888;
}

a {
  color: #685d9f;
  text-decoration: none;
}

a:hover {
  font-weight: 400;
  text-decoration: underline;
}

h1,
h2, 
h3, 
h4,
h5,
h6 {
  font-weight: 300;
}

.menu-superior {
  padding: 2em 0; /* primer valor top/bottom segundo left/right */
}

.menu-superior a {
  color: #313030;
  margin: 0 0.5em;
}

.jumbotron {
  
}

.jumbotron .main-headline {
  font-size: 5em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 100;
  letter-spacing: 0.2em;
}


.jumbotron .secundary-headline {
  font-size: 1.4em;
  margin-top: 0;
}

.testimonials {
  padding: 8em 0;
  margin-top: -5em;
  background-color: white;
  position: relative; /* procesar la profundidad */
  border-top: 1px solid #cbcbcb;
}

.testimonials .avatar {
  width: 120px;
  border-radius: 100%;
}

.testimonials .lead {
  font-size: 1.4em;
}
.testimonials .author {
  color: #cbcbcb;
}

.metricas {
  padding: 4em 0;
  border-top: 1px solid #cbcbcb;
}

.metricas .section-header { 
  font-size: 1.2em;
}

.metricas .metric-detail {
  font-size: 4.4em;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}
.metricas .metric-name {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 0;
  color: #888888;
}

.features header {
  font-size: 1.8em;
}

.features .feature {
  padding: 1em;
}
.features .feature img {
  margin-right: 0.5em;
}

.features .feature h1 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: 500;
}

.slideshow {
  padding: 4em;
}
.slideshow .lead {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 4em;
}
.metricas-padding {
  padding: 8em;
}

.metricas-padding .text-right img {
  margin-left: -140%;
}

.metricas .section-header,
.metricas article {
  position: relative;
}

.contacto {
  padding-bottom: 6em;
}

footer {
  padding: 6em;
  background-color: rgb(27, 28, 29);
  color: #cbcbcb;
}

footer .menu-footer a {
  color: #cbcbcb;
}
footer h6 {
  font-size: 1.2em;
  margin-bottom: 0;
}

footer .menu-footer {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}











