input,
label,
textarea,
select {
  display: block;
  margin: 0 1em 1em 1em;
  padding: 1em;
  background: #000;
  color: white;
  border: 2px solid red;
  box-shadow: 0 0 0 0 #000;
}

input:focus,
textarea:focus, 
select:focus {
  border: 20px solid red;
}

.input-inline {
  display: inline-block;
}

label {
  margin-bottom: 0.1em;
}