.row {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.row:before,
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class*="col"] {
  float: left;
  box-sizing: border-box;
}

.col-1  { width: 8.3333%; } /* 100%/12 */
.col-2  { width: 16.666%; } 
.col-3  { width: 25%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }

/*
que va a pasar cuando la pantalla tengo ancho menor a X cantidad pixeles

480px -> telefono
720px -> tablet en vertical
980px -> escritorio estandar
1200px -> nuevo estandar
1440px -> pantallas grandes
*/

/* viewport < 720px */
@media(max-width:720px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 { width: 100%; }
}