
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #8e44ad;
  margin-bottom: 2em;
}

.menu:after,
.menu:before {
  display: block;
  content: "";
  clear: both;
}

.menu li {
  float: left;
}

.menu a {
  float: left;
  display: block;
  padding: 0.8em 1em;
  background-color: #8e44ad;
  color: white;
  text-decoration: none;
  border-left: 1px solid #b657de;
  border-right: 1px solid #693380;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu a:hover {
  background-color: #a94ed0;
}

.menu li:first-child a,
.menu > a:first-child {
  border-left: 0px solid #b657de;
}

.menu li:last-child a,
.menu > a:last-child {
  border-right: 0px solid #b657de;
}

.menu.menu-vertical li,
.menu.menu-vertical a {
  float: none;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top: 1px solid #b657de;
  border-bottom: 1px solid #693380;
}

.menu.menu-justificado li,
.menu.menu-justificado > a {
  float: none;
  display: table-cell;
  width: 1%;
}

.menu.menu-justificado li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.menu li {
  position: relative;
}

.menu li:hover > .submenu {
  display: block;
}

.menu .submenu {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 2.7em;
  width: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}

.menu .submenu li{
  float: none;
}

.menu .submenu a {
  float: none;
  display: block;
  width: 100%;
  background-color: #2c3e50;
  box-sizing: border-box;
}

.menu .submenu a:hover {
  background-color: #3c546c;
}

.menu .submenu .submenu  {
  position: absolute;
  top: 0;
  left: 250px;
}


































