body {
  padding-top: 80px;
}

.caja-ab,
.caja-fx,
.caja-re,
.caja-mixed {
  width: 300px;
  height: 200px; 
  background-color: aqua;
}

.margin-100 {
  margin: 100px;
  border: 1px solid black;
} 

.caja-roja {
  background-color: #e74c3c;
}

.caja-azul {
  background-color: #3498db;
}

.caja-verde {
  background-color: #2ecc71;
}

.position-absolute {}

/*Absolute Position*/
.caja-ab {
  position: static; 
  top: 0;
  left: 0;
  /*
    top:
    left:
  */
}

.caja-ab-1 {
  left: auto;
  top: auto;
  bottom: 50%; /* pixeles, em, % */
  right: 50%;
  margin-bottom: -100px; /* height/2 */
  margin-right: -150px; /* width/2 */
  /*
    top: 50%;
    left: auto;
    right: 50%;
  */
}

.caja-ab-2 {
  top: 80px;
  left: 600px;
}

.caja-ab-3 {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.caja-fx {
  position: static;
  top: 100px;
  left: 50%;
  margin-left: -150px;
}

.caja-fx-1 {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

.caja-re {
}

.caja-re-1 {
  position: relative;
  top: 100px;
  left: 0;
  z-index: 3;
}
.caja-re-2 {
  position: relative;
  top: -50px;
  left: 0;
  z-index: 2;
}
.caja-re-3 {
  position: relative;
  top: -60px;
  left: 0;
  z-index: 1;
}

.caja-mixed-1 {
  position: relative;
}

.caja-mixed-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
}































