/*
  fuentes Google web fonts
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
*/

body {
  font-family: 'Roboto',sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.division-3 {
  border: 0.2em solid #ac9b9b;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  width: 49%;
  box-sizing: border-box;
  /* 
    em
      1em = Tamaño de fuente que configuro el browser
    
    2em el doble 2* em(tamaño del la fuente)
    0.5em 1/2 * em (tamaño de fuente del browser)
      
  */
}

.inner-padding {
  padding: 0;
}

.alineacion-por-display {
  /* inline / block */
  display: inline-block;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
  width: 33.3333%;
}

.align-float {
  background-color: aqua; 
}

.align-float:before,
.align-float:after {
  content: "";
  display: block;
  clear: both;
}

.mitad,
.tercio,
.dos-tercios {
  box-sizing: border-box;
  float: left;
}

.align-float .mitad {
  width: 50%;  
}

.align-float .tercio {
  width: 33.333%;
}

.align-float .dos-tercios {
  width: 66.6666%;
}





































